/*
A ":root" pseudo style is the idiomatic way to do CSS variables globally, but what's an idiomatic way to declare CSS
variables in the context of a React component? I know React doesn't have strong encapsulation of CSS, but we at least
try to express our intentions in the code.
*/
:root {
    --theme-color-dark: #282c34;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  background-color: var(--theme-color-dark);
  border: var(--theme-color-dark) solid thick;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  font-size: calc(10px + 2vmin);
}
